In [73]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt


# 生成dataframe
df1=pd.DataFrame(np.random.rand(6,3), index=list([1,2,3,4,5,6]),columns=list('一二三'))
# df2=pd.DataFrame(np)
df=df1
df

          一         二         三
1  0.427594  0.073627  0.713582
2  0.518571  0.801544  0.404633
3  0.219637  0.610933  0.973216
4  0.745773  0.089611  0.555990
5  0.302448  0.532653  0.942937
6  0.290133  0.905438  0.805206

In [78]:
# 重命名
df.rename({'一':'cc'},axis='columns')
df.columns=['aa','bb','cc']
df=df.add_suffix('_s')
df

       aa_s      bb_s      cc_s
1  0.427594  0.073627  0.713582
2  0.518571  0.801544  0.404633
3  0.219637  0.610933  0.973216
4  0.745773  0.089611  0.555990
5  0.302448  0.532653  0.942937
6  0.290133  0.905438  0.805206

In [79]:
# 选取行和列
df['aa_s']
df.iloc[[1]]
df.loc[::-1]

       aa_s      bb_s      cc_s
6  0.290133  0.905438  0.805206
5  0.302448  0.532653  0.942937
4  0.745773  0.089611  0.555990
3  0.219637  0.610933  0.973216
2  0.518571  0.801544  0.404633
1  0.427594  0.073627  0.713582

In [76]:
# 重置index
df.reset_index(drop=1)

          一         二         三
0  0.427594  0.073627  0.713582
1  0.518571  0.801544  0.404633
2  0.219637  0.610933  0.973216
3  0.745773  0.089611  0.555990
4  0.302448  0.532653  0.942937
5  0.290133  0.905438  0.805206

In [77]:
# 按数据类型选择列
df.dtypes
df.select_dtypes(include='number')

          一         二         三
1  0.427594  0.073627  0.713582
2  0.518571  0.801544  0.404633
3  0.219637  0.610933  0.973216
4  0.745773  0.089611  0.555990
5  0.302448  0.532653  0.942937
6  0.290133  0.905438  0.805206

In [87]:
# 缩减占用内存
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]
cols=["symboling", "normalized_losses", "make"]
data=pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",header=None,names=headers,usecols=cols)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   make               205 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.9+ KB

In [95]:
# 从表格中读取
csv=pd.read_csv('./1.csv')
csv.memory_usage()

Index              128
Province/State    2104
Country/Region    2104
Lat               2104
Long              2104
                  ...
4/4/20            2104
4/5/20            2104
4/6/20            2104
4/7/20            2104
4/8/20            2104
Length: 83, dtype: int64