In [81]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
import akshare as ak 

sh_money = ak.stock_em_hsgt_north_net_flow_in(indicator="沪股通")
sz_money=ak.stock_em_hsgt_north_net_flow_in(indicator="深股通")
sh_sz_money=ak.stock_em_hsgt_north_net_flow_in(indicator="深股通")

sh_money=sh_money.tail(10)
sh_money

           date       value
490  2020-03-31   111200.82
491  2020-04-01    98350.25
492  2020-04-02   296854.53
493  2020-04-03   114370.80
494  2020-04-07   716904.13
495  2020-04-08  -100349.32
496  2020-04-14   584457.74
497  2020-04-15   171480.21
498  2020-04-16   283977.47
499  2020-04-17   574997.34

In [86]:
df=sh_money.set_index('date',drop=True,append=False).T
plt.figure(figsize=(10,6))

df=df.astype(float)

df.iloc[0]
# sns.pointplot(data=df.astype(float),label="shape")
# sh_money.index

date
2020-03-31    111200.82
2020-04-01     98350.25
2020-04-02    296854.53
2020-04-03    114370.80
2020-04-07    716904.13
2020-04-08   -100349.32
2020-04-14    584457.74
2020-04-15    171480.21
2020-04-16    283977.47
2020-04-17    574997.34
Name: value, dtype: float64

['value']