In [4]:
import pandas as pd
import numpy as np
import akshare as ak

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.196632 -0.326028 -0.560217 -0.314510
2013-01-02 -1.236802  0.237034  0.348477 -0.168971
2013-01-03  0.163250  0.721555  0.230448  1.167485
2013-01-04 -0.149668 -0.296662 -2.091106 -1.247055
2013-01-05  0.669338 -1.348690 -1.415242 -0.069145
2013-01-06 -0.548258  0.852436 -0.276355 -0.900420

In [19]:
df[(df.A>=0.1)&(df.D>1)]

                  A         B         C         D
2013-01-03  0.16325  0.721555  0.230448  1.167485

In [21]:
df.sort_values(["A"],ascending=False)

                   A         B         C         D
2013-01-05  0.669338 -1.348690 -1.415242 -0.069145
2013-01-03  0.163250  0.721555  0.230448  1.167485
2013-01-04 -0.149668 -0.296662 -2.091106 -1.247055
2013-01-01 -0.196632 -0.326028 -0.560217 -0.314510
2013-01-06 -0.548258  0.852436 -0.276355 -0.900420
2013-01-02 -1.236802  0.237034  0.348477 -0.168971