In [147]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

df=pd.read_json('./data.json',encoding='utf-8')

In [148]:
# 数据类型转换
df['d_pe_ttm_pos20']=df['d_pe_ttm_pos20'].str.replace('%', '').astype('float')

df['pb_wo_gw_pos20']=df['pb_wo_gw_pos20'].str.replace('%','').astype(np.float64)


df['ps_ttm_pos20']=df['ps_ttm_pos20'].apply(lambda x: x.replace('%','')).astype('float')

df['update_date']=pd.to_datetime(df['update_date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4126 entries, 0 to 4125
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   stockCode       4126 non-null   int64
 1   stockName       3956 non-null   object
 2   industry        3903 non-null   object
 3   d_pe_ttm        4126 non-null   float64
 4   pb_wo_gw        4126 non-null   float64
 5   ps_ttm          4126 non-null   float64
 6   d_pe_ttm_pos20  4126 non-null   float64
 7   pb_wo_gw_pos20  4126 non-null   float64
 8   ps_ttm_pos20    4126 non-null   float64
 9   ey              4126 non-null   object
 10  update_date     4126 non-null   datetime64[ns]
 11  fenweidianSum   4126 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(4)
memory usage: 386.9+ KB

In [149]:
# map, apply, applymap

boolean=[True,False]
gender=["男","女"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)

data['gender']=data['gender'].map({'男':1,'女':0})
data

    height  weight  smoker  gender  age   color
0      178      48    True       1   63   black
1      163      52   False       0   78   white
2      152      78    True       1   44   white
3      167      48    True       1   58   black
4      151      53   False       1   66  yellow
..     ...     ...     ...     ...  ...     ...
95     155      76   False       1   63   white
96     157      82    True       1   45   white
97     157      85   False       0   58  yellow
98     152      65   False       0   39  yellow
99     166      79    True       1   88   white

[100 rows x 6 columns]